html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
.logo {
    font-size: 100px;
    font-weight: bolder;
    letter-spacing: -6px;
    color: #222;
    margin: 20px 30px;
}
.logo .number {
    color: #222;
    opacity: 0.1;
}
.navigation {
    margin-left: 33px;
}
.navigation a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #222;
    background: #222;
    color: #fff;
}
.navigation a:hover {
    color: #222;
    background: transparent;
}
.container {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 33px;
    overflow: hidden;
}
.container a {
    color: #222;
}
.container table {
    font-size: 11px;
    margin-top: 20px;
}
.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td {
    padding: 4px 10px;
}
.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
}
.container input, .container textarea {
    background-color: #f5f5f5;
    border: 0;
    padding: 5px 10px;
}
.container label {
    padding: 0.2rem 0;
}
.container input[type="submit"],
.container input[type="button"] {
    background-color: #ccc;
    cursor: pointer;
    clear: left;
    margin-left: 10rem;
    width: initial;
}
.container input[type="submit"]:hover,
.container input[type="button"]:hover {
    background-color: #222;
    color: #fff;
}
.container button {
    background-color: #ccc;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}

.container > input[type="button"],
.container > input[type="submit"] {
    width: initial;
    margin-left: 10rem;
    clear: both;
}

.validation_error {
    margin-bottom: 0;
    color: tomato;
    clear: both;
}

.remove {
    display: none;
}

fieldset {
    margin: .5rem 0;
    padding-left: 0;
    border: 1px solid #ccc;
    float: left;
    clear: both;
}

legend {
    margin-left: .5em;
}


dl {
    width: 24em;
    padding: 0.5em;
    padding-top: 0;
    margin: 0;
    overflow: hidden;
    display: inline-block;
}

dt, label {
    float: left;
    clear: left;
    width: 9rem;
    text-align: right;
    color: #888;
}

dd {
    padding: 0;
}

dd, input, select {
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 0.5em;
    width: 10rem;
    display: inline-block;
    float: left;
}

input[type="checkbox"],
select {
  width: initial;
}

textarea {
    margin-left: 1rem;
    margin-bottom: 0.5em;
    width: 18rem;
    display: inline-block;
    float:left;
}

.title {
    display: block;
    z-index: -1;
    overflow: hidden;
    color: #ddd;
    font-size: 3em;
}

.star-rating {
  font-size: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  width: 10rem;
  height: 2rem;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
  float: left;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
/* i element right after input element (next sibling) */
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
/* an i element following an i element (siblings) */
.star-rating i ~ i {
  width: 40%;
}
/* i following another i that follows yet another i (siblings) */
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

output {
    padding: 0.2rem 0;
    margin-left: 1rem;
    display: inline-block;
    color: #888;
}

thead {
    background-color: #ddd; 
    font-weight: bold;
}
